<div class="about-section">
    <h1>GeoInfoTech</h1>
    <p></p>
    <p>Be future ready with our best online courses</p>
</div>



<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeZGZvlq1wA009zMSSCaFZYDm4b8HZj9bdRCONZacg-a7ejaaQ7XAbadI3Wvym6U9Vy3s&usqp=CAU"
                alt="Jane" style="width:100%">
            <div class="container">
                <h2>YadhuKrishnan EM</h2>
                <p class="title">Developer</p>
                <p>yadhu@mail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>



    <div class="column">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeZGZvlq1wA009zMSSCaFZYDm4b8HZj9bdRCONZacg-a7ejaaQ7XAbadI3Wvym6U9Vy3s&usqp=CAU"
                alt="Jane" style="width:100%">
            <div class="container">
                <h2>Anjali Nair</h2>
                <p class="title">Developer</p>
                <p>anjali@mail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeZGZvlq1wA009zMSSCaFZYDm4b8HZj9bdRCONZacg-a7ejaaQ7XAbadI3Wvym6U9Vy3s&usqp=CAU"
                alt="Jane" style="width:100%">
            <div class="container">
                <h2>Chandramouli</h2>
                <p class="title">Developer</p>
                <p>mouli@mail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeZGZvlq1wA009zMSSCaFZYDm4b8HZj9bdRCONZacg-a7ejaaQ7XAbadI3Wvym6U9Vy3s&usqp=CAU"
                alt="Jane" style="width:100%">
            <div class="container">
                <h2>Vincy Anto</h2>
                <p class="title">Developer</p>
                <p>vincy@mail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>