<header>
  <a class="btn btn-full" style="float: right;" href="/login">Login</a>

  <div class="hero-text-box">

      <h3 style="font-family: cursive;">Looking to upskill yourself ?
          <br>
          <br>Learn the most in-demand skills with 
          <br>the best online courses and
          <br>   
          certifications.</h3>

      <br>

      <a class="btn btn-full" href="#"><b>Learn something new !</b></a>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <a class="btn btn-ghost" href="#"><b>Enquire !</b></a>

  </div>

</header>