<div class="container">
    <div class="header">
        <h5>Drill down view</h5>
        <!--Search functionality
        <div class="form-group">
            <input class="form-control" type="text"
            placeholder="Search here..." [(ngModel)]="filter"> 

        </div>
       <button class="btn btn-primary" style="float: right; margin-bottom: 10px;">Add Employee</button>
      <a [routerLink]="['../course']"class="btn btn-primary" style="float: right; margin-bottom: 10px;">Add Course</a>-->
    </div>
    <table class="table table-bordered table-striped">
     <thead>
         <tr>
             <th>Name</th>
             <th>Email</th>
             <th>Enquiry Date</th>
             <th>Admin Reply Date</th>
             <!--<th></th>-->
         </tr>
     </thead>
     <tbody>
         <tr  *ngFor="let crs of renquiryService.renquiries ">  <!--| filter: filter| paginate:{itemsPerPage:2, currentPage: page}" -->
            <ng-container *ngIf="crs.StatusId==statusOf()">
             <td >{{crs.EnquirerName}}</td>
             <td >{{crs.Email}}</td>
             <td >{{crs.EnquiryDate}}</td>
             <td >{{crs.AdminReplyDate}}</td>
             <!--<td (click)="populateForm(crs)">{{crs.AdminReplyDate}}</td>
             <td>
                 <button (click)="deleteCourse(crs)"class="btn btn-sm btn-outline-danger"
                 >X</button>&nbsp;
                 <button (click)="updateCourse(crs.CourseId)"  class="btn btn-info" style="margin-left: 10px;">Edit</button>
                 </td>-->
                </ng-container>     
         </tr>
     </tbody>
    </table>
    <div class="footer">
        <!--Pagination
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>-->
    </div>

</div>
    

